.customerFile {
    list-style: none;
    display: flex;
    padding: 10px;
    margin: 10px;
    justify-content: space-around;
    max-width: 100%;
    min-width: 250px;
    background: linear-gradient(135deg, #c4d06a 10%, white 10%);
    box-shadow: 4px 4px 6px grey;
    border-radius: 10px;
    border: 1px solid lightgray;
}

.customerFile:hover {
    background: linear-gradient(135deg, #c4d06a 10%, #00000015 10%);
}

@media (max-width: 1300px) {
    .customerFile {
        transform: scale(0.9);
    }
}

@media (max-width: 1200px) {
    .genderPhoneDivision {
        flex-wrap: wrap;
    }
}

@media (max-width: 1100px) {
    .customerFile {
        display: block;
    }

    .mainStats {
        border-left: 0px solid lightgray !important;
        border-top: 2px solid lightgray;
        padding-top: 10px !important;
        margin-top: 10px !important;
    }

    .tittleFeature {
        text-align: left;
    }
}

.customerFile div p {
    margin: 5px 3px;
    padding-left: 7px;
    font-size: 1.3rem;
    font-family: 'Lato', sans-serif;
    vertical-align: bottom;
    font-weight: 300;
}

.customerFile div h3 {
    margin: 10px;
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: 700;
}

.textDivision {
    width: 80%;
}

.nameDivision,
.mailBdayDivision,
.genderPhoneDivision {
    display: flex;
    max-width: 100%;
    width: 100%;
    justify-content: flex-start;
    align-items: baseline;
}

.nameDivision {
    justify-content: start;
    padding-left: 30px;
}

.nameDivision h3~p {
    padding: 0;
}

.mailBdayDivision {
    min-width: 60%;
    margin: 0 -10px 20px 0;
}

.mainStats {
    margin: auto 0;
    border-left: 2px solid lightgray;
    padding-left: 10px;
    width: 15%;
}

.mainStats div {
    width: 98%;
    padding-left: 0;
}

.iconTextdivision {
    display: flex;
    width: 30rem;
    justify-content: flex-start;
    align-items: center;
    padding-left: 10px;
}

.iconTextdivision img {
    max-width: 15px;
}

.tittleFeature {
    font-size: 0.8rem !important;
    margin: 0 !important;
    text-transform: uppercase;
    font-style: italic;
    font-weight: 900 !important;
}