.customerFile {
    list-style: none;
    display: flex;
    padding: 10px;
    margin: 10px;
    justify-content: space-between;
    max-width: 100%;
    background: white;
    box-shadow: 4px 4px 6px lightgrey;
    border-radius: 10px;
}

.customerFile:hover {
    background: rgba(0,0,0,0.081);
}

.customerFile div p{
    margin: 5px 3px;
    padding-left: 7px;
    font-size: 1.3rem;
    font-family: 'Lato', sans-serif;
    vertical-align: bottom;
    font-weight: 300;
}
.customerFile div h3{
    margin: 10px;
    font-size: 1.8rem;
}
.textDivision{
    width: 87%;
}
.nameDivision,
.mailBdayDivision,
.genderPhoneDivision
 {
    display: flex;
    max-width: 100%;
    width: 100%;
    justify-content: space-around;
    align-items: baseline;
}
.nameDivision {
    justify-content: start;
}
.nameDivision h3 ~ p{
    padding: 0;
}
.mailBdayDivision {
    min-width: 60%;
}
.mainStats{
    margin:auto 0;
    border-left: 2px solid lightgray;
    padding-left: 20px;
    width: 10%;
}
.mainStats div{
    width: 98%;
    padding-left: 0;
}

.iconTextdivision {
    display: flex;
    width: 30rem;
    justify-content: flex-start;
    align-items: center;
    padding-left: 10px;
}
.iconTextdivision img{
    max-width: 17px;
}