.form {
  text-align: center;
}

.form h3 {
  display: inline-block;
  border-left: 4px solid black;
  padding-left: 10px;
}

.form>label {
  display: block;
  position: absolute;
  left: 14.5%;
  color: rgba(152, 151, 151, 0.982);
  transform: translateY(-35px);
  transition: 0.5s all;
  font-size: 18px;
  pointer-events: none;
}

.form>input {
  font: inherit;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 30rem;
  max-width: 100%;
  margin: 7px;
  height: 25px;
}

.form>input:focus+label,
.form>input:valid+label {
  transform: translateY(-45px) translateX(-10px);
  color: black;
  background-color: white;
  font-size: 12px;
  padding: 0 6px;
}

.form button {
  font: inherit;
  color: #c4d06a;
  cursor: pointer;
  background-color: transparent;
  border: none;
  border-radius: 25px;
  padding: 0.5rem 2rem;
  margin: 10px;
}

.form .find {
  background-color: #c4d06a;
  color: white;
  text-shadow: 1px 1px 5px black;
}

.form .find:hover,
.form .find:active {
  background-color: #8a9347;
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.form .incorrectField,
.incorrectData input {
  border: 1px solid lightcoral;
}

.incorrectData [id=secondSurname] {
  border: 1px solid lightgray;
}

.incorrectData p {
  font-style: italic;
  font-size: 1.2rem;
  color: red;
}

.inputBlock label {
  left: 15%;
}

.genderBlock {
  margin: 10px auto;
  padding: 20px 0;
  max-width: 250px;
  border-radius: 5px;
  border: 1px solid lightgray;
}
.genderBlock >input {
  display: none;
}
.genderBlock >input:checked +label {
  background-color: #c4d06a87;  
  box-shadow: 2px 2px 5px grey;
}
.genderBlock >label {
  padding: 10px 20px;
  margin: 3px;
  border: 1px solid lightgray;
  cursor: pointer;
}
.genderBlock >label:active {
}