.cardIcon {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: transparent;
    max-width: 90%;
    margin: 50px auto  20px auto;
    border-radius: 25px;
    padding: 0.5rem 2rem;
    box-shadow: 4px 4px 10px lightgray;
}