.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.75);
}

.Modal {
  position: fixed;
  top: 20vh;
  left: 5%;
  width: 90%;
  padding: 1rem;
  border-radius: 14px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 30;
  background: linear-gradient(180deg, #fcffe6, white);
  transition: all 0.3s ease-out;
}

@media (min-width: 730px) {
  .Modal {
    width: 40rem;
    left: calc(50% - 20rem);
  }
}
.fadeAppear{
  opacity: 0;
}
.fadeAppearActive{
  animation: openModal 0.5s ease-out forwards;
}

@keyframes openModal {
  0% {
      opacity: 0;
      transform: translateY(-50%);
  }

  50% {
      opacity: 1;
      transform: translateY(10%);
  }

  100% {
      opacity: 1;
      transform: translateY(0);
  }
}